nav {
  width: 100%;
}

article {
  padding: 0 15px;
}

.container > * > * {
  border: 1px solid lightgray;
}

.container {
  display: flex;
  width: 980px;
  flex-direction: column;
  margin: auto;
}

.row {
  /* border: 1px solid lightgray; */
  flex-direction: row;
  display: flex;
}

.row-span-news {
  height: 200px;
}

.header {
  width: 66.66%;
}

.header button {
  height: 60px;
  width: 150px;
}
.news {
  width: 33.33%;
  height: 389px;
  z-index: 2;
}

.social,
.about {
  width: 33.33%;
  background-color: lightyellow;
}

.footer {
  height: 82px;
}

.header,
.news,
.footer {
  background-color: #d0e7ef;
}

@media only screen and (max-width: 680px) {
  

  .container{
    border-radius: 10%;
    border: 3px solid;
    padding: 53px;
    width: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
  }

  .row > * {
    width: 100%;
    height: 100%;
  }

  .row {
    flex-direction: column;
  }

  .row-span-news {
    height: auto;
  }
}
